@model IEnumerable<OG_Sports.Models.Product>
@using OG_Sports.Controllers
@using OG_Sports.Models

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>מוצרים</h2>
<br />
<div style="display:flex">
    @using (Html.BeginForm("FilterProducts", "Product", FormMethod.Post, new { @class = "ProductFilters-TopSubFilters" }))
    {
        <div style="justify-content: space-between;
                    display: flex;
                    height: 100%;
                    flex-direction: column;">
            <div>
                <div style="font-size: 20px; margin-bottom: 22px;">שם מוצר:</div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="ProductName">
                </div>

                <div style="font-size: 20px; margin-top: 22px;">מחיר:</div>
                <input type="text" id="amount" readonly style="border:0; color:#28a745; font-weight:bold; direction: ltr; width: 95%; margin-bottom:12px" name="ProductPriceInput">
                <div id="slider-range" style="width: 95%; margin-bottom: 35px;" name="ProductPriceSlider"></div>

                <div style="font-size: 20px; margin-bottom: 22px;">קטגוריה:</div>
                <div class="dropdown">
                    <select class="btn btn-secondary dropdown-toggle" name="ProductCategory" style="width:100%">
                        <option value="-1">כל הקטגוריות</option>

                        @foreach (var currProduct in ((List<Product>)ViewBag.Products).GroupBy(u => new { u.ProductCategoryID, u.ProductCategory.Name }))
                        {
                            <option value="@currProduct.Key.ProductCategoryID">@currProduct.Key.Name</option>
                        }

                    </select>
                </div>
            </div>

            <div>
                <div class="form-group" style="text-align: center; margin-top: 25px;">
                    <input type="submit" value="חפש" class="btn btn-primary btn-lg" />
                </div>
            </div>
        </div>
    }
    <div style="flex: 5; display: flex; flex-direction: column;">
        <table class="table" style="align-self: flex-end; margin-bottom: 0px;">
            <thead class="thead-light">
                <tr>
                    <th scope="col" style="width: 13%;"></th>
                    <th scope="col" style="width: 13%;">שם</th>
                    <th scope="col" style="width: 39%;">תיאור</th>
                    <th scope="col" style="width: 10%">קטגוריה</th>
                    <th scope="col" style="width: 10%">מחיר</th>
                    <th scope="col" style="width: 20%;"></th>
                </tr>
            </thead>
        </table>
        <div style="overflow-y:scroll; height: 50vh;">
            <table class="table" align="left">
                <tbody>
                    @foreach (var currProduct in Model)
                    {
                        <tr>
                            <td style="width: 13%">
                                <img src=@currProduct.PicPath class="img-thumbnail" style="height: 125px;" />
                            </td>
                            <td style="padding-top: 17px; font-size: 22px; width: 13%">@currProduct.ProductName</td>
                            <td style="padding-top: 17px; font-size: 19px; width: 40%">@currProduct.Details</td>
                            <td style="padding-top: 17px; font-size: 19px; width: 10%;">@currProduct.ProductCategory.Name</td>
                            <td style="padding-top: 17px; font-family: Roboto; font-size: 22px; width: 10%;" class="text-success font-weight-bold">@currProduct.Price$</td>
                            <td style="width: 20%;">
                                <button type="button" class="ProductTable-BuyButton" onclick="addProductToOrder(@currProduct.ProductId)"><i class="fas fa-3x fa-cart-plus"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 1500,
      values: [ 150, 600 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) );
    });

    function addProductToOrder(productID) {
        var link = '@Url.Action("AddProduct", "Order", new { productID = "replaceID" })';
        link = link.replace("replaceID", productID);
        location.href = link;
    }
</script>