<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OGSports - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link rel="stylesheet" href="~/Content/Icons/fontawesome-free-5.4.1-web/css/all.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/footer.css">
    <link rel="stylesheet" href="~/Content/MainPage.css">
    <link rel="stylesheet" href="~/Content/Home.css">
    <link rel="stylesheet" href="~/Content/About.css">
    <link rel="stylesheet" href="~/Content/UserDetails.css">
    <link rel="stylesheet" href="~/Content/Products.css">
    <script src="~/Scripts/CanvasFuncs.js"></script>
    <script lang="javascript" src="~/Scripts/Map.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9VzfSwMx1G88bwD5q9cJRjUC71wL7sfU&callback=initMap"></script>
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v3.2&appId=333401937215139&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript">
        RunCanvasCode()
    </script>
    <header class="MainPage-Header">
        <div class="MainPage-Header-Text">
            OGSports
        </div>
        @{
            if (ViewBag.Title != "התחברות")
            {
        <nav>
            <div class="MainPage-Header-Buttons">
                <button id="LoginButton" type="button" class="MainPage-Header-SingleButton btn btn-outline-primary" onclick="onChangeTab(this.id, 'Index', 'User')"><i class="fas fa-user"></i></button>
                <button id="CartButton" type="button" class="MainPage-Header-SingleButton btn btn-outline-primary" onclick="onChangeTab(this.id, 'Index', 'Order')"><i class="fas fa-shopping-cart"></i></button>
                <div class="Header-Buttons-Seperator"></div>
                <button id="HomePageButton" type="button" class="MainPage-Header-SingleButton btn btn-outline-primary" onclick="onChangeTab(this.id, 'Index', 'Home')">עמוד הבית</button>
                <button id="ProductsButton" type="button" class="MainPage-Header-SingleButton btn btn-outline-primary" onclick="onChangeTab(this.id, 'Index', 'Product')">מוצרים</button>
                <button id="AboutButton" type="button" class="MainPage-Header-SingleButton btn btn-outline-primary" onclick="onChangeTab(this.id, 'About', 'Home')">אודות</button>
            </div>
        </nav>
            }
        }
    </header>

    <div class="MainPage-Container">
        <div class="DynamPage-Container" id="DynamPage-Container">
            @RenderBody()
        </div>
    </div>
    <footer id="myFooter">
        <div class="container">
            <div id="weatherDetail"></div>
            <div class="fb-like" data-href="https://www.facebook.com/496447494171812" data-width="50" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
        </div>
        <div class="footer-copyright">
            <p>© 2016 OGSports - אנו נעשה את הטוב ביותר עבור לקוחותינו </p>
        </div>
    </footer>

    <script>
        $.getJSON('http://api.apixu.com/v1/current.json?key=d9c8c62006ed405984e192217180811&q=Haifa', function (data) {
            document.getElementById("weatherDetail").innerHTML = "מזג האוויר במטה החברה הינו - " + data.current.temp_c + ' מעלות צלזיוס';
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $.ajaxSetup({ cache: true });
            $.getScript('https://connect.facebook.net/en_US/sdk.js', function () {
                FB.init({
                    appId: '{333401937215139}',
                    version: 'v2.7'
                });
                $('#loginbutton,#feedbutton').removeAttr('disabled');
                FB.getLoginStatus(updateStatusCallback);
            });
        });

        function onChangeTab(id, action="Index", controller="Home")
        {
            $("#HomePageButton").css("background", "transparent");
            $("#ProductsButton").css("background", "transparent");
            $("#AboutButton").css("background", "transparent");

            $("#" + id).css("background", "#007bff").css("color", "white");

            var link = '@Url.Action("action", "controller")';
            link = link.replace("action", action);
            link = link.replace("controller", controller);
            location.href = link;
        }
    </script>
</body>
</html>
