<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OGSports - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="../../Content/Icons/fontawesome-free-5.4.1-web/css/all.css">
    <link rel="stylesheet" href="../../Content/bootstrap.min.css">
    <link rel="stylesheet" href="../../Content/MainPage.css">
    <link rel="stylesheet" href="../../Content/Home.css">
    <link rel="stylesheet" href="../../Content/About.css">
    @*<script lang="javascript" src="../../Scripts/MainPageController.js"></script>*@
    <script lang="javascript" src="../../Scripts/Map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9VzfSwMx1G88bwD5q9cJRjUC71wL7sfU&callback=initMap"></script>
</head>
<body>
    <header class="MainPage-Header">
        <div class="MainPage-Header-Text">
            OGSports
        </div>
        <div class="MainPage-Header-Buttons">
            <button id="HomePageButton" type="button" class="MainPage-Header-SingleButton btn btn-outline-primary" onclick="onChangeTab(this.id, 'Index', 'Home')">עמוד הבית</button>
            <button id="ProductsButton" type="button" class="MainPage-Header-SingleButton btn btn-outline-primary" onclick="onChangeTab(this.id, 'Index', 'Product')">מוצרים</button>
            <button id="AboutButton" type="button" class="MainPage-Header-SingleButton btn btn-outline-primary" onclick="onChangeTab(this.id, 'About', 'Home')">אודות</button>
            @*<button id="HomePageButton" type="button" class="MainPage-Header-SingleButton btn btn-outline-primary" onclick="onChangeTab(this.id)">עמוד הבית</button>
                <button id="ProductsButton" type="button" class="MainPage-Header-SingleButton btn btn-outline-primary" onclick="onChangeTab(this.id)">מוצרים</button>
                <button id="AboutButton" type="button" class="MainPage-Header-SingleButton btn btn-outline-primary" onclick="onChangeTab(this.id)">אודות</button>*@
        </div>
    </header>
    <div class="MainPage-Container">
        <div class="DynamPage-Container">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        function onChangeTab(id, action="Index", controller="Home")
        {
            $("#HomePageButton").css("background", "transparent");
            $("#ProductsButton").css("background", "transparent");
            $("#AboutButton").css("background", "transparent");

            $("#" + id).css("background", "#007bff").css("color", "white");

            var link = '@Url.Action("action", "controller")';
            link = link.replace("action", action);
            link = link.replace("controller", controller);
            location.href = link;
        }
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
