<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OGSports - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link rel="stylesheet" href="~/Content/Icons/fontawesome-free-5.4.1-web/css/all.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/MainPage.css">
    <link rel="stylesheet" href="~/Content/Home.css">
    <link rel="stylesheet" href="~/Content/About.css">
    <link rel="stylesheet" href="~/Content/UserDetails.css">
    <link rel="stylesheet" href="~/Content/Products.css">
    <script lang="javascript" src="~/Scripts/Map.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9VzfSwMx1G88bwD5q9cJRjUC71wL7sfU&callback=initMap"></script>
</head>
<body>
    <header class="MainPage-Header">
        <div class="MainPage-Header-Text">
            OGSports
        </div>
        @{
            if (ViewBag.Title != "התחברות")
            {
                <div class="MainPage-Header-Buttons">
                    <button id="LoginButton" type="button" class="MainPage-Header-SingleButton btn btn-outline-primary" onclick="onChangeTab(this.id, 'Index', 'User')"><i class="fas fa-user"></i></button>
                    <div class="Header-Buttons-Seperator"></div>
                    <button id="HomePageButton" type="button" class="MainPage-Header-SingleButton btn btn-outline-primary" onclick="onChangeTab(this.id, 'Index', 'Home')">עמוד הבית</button>
                    <button id="ProductsButton" type="button" class="MainPage-Header-SingleButton btn btn-outline-primary" onclick="onChangeTab(this.id, 'Index', 'Product')">מוצרים</button>
                    <button id="AboutButton" type="button" class="MainPage-Header-SingleButton btn btn-outline-primary" onclick="onChangeTab(this.id, 'About', 'Home')">אודות</button>
                </div>
            }
        }
    </header>

    <div class="MainPage-Container">
        <div class="DynamPage-Container" id="DynamPage-Container">
            @RenderBody()
        </div>
    </div>

    <script type="text/javascript">
        function onChangeTab(id, action="Index", controller="Home")
        {
            $("#HomePageButton").css("background", "transparent");
            $("#ProductsButton").css("background", "transparent");
            $("#AboutButton").css("background", "transparent");

            $("#" + id).css("background", "#007bff").css("color", "white");

            var link = '@Url.Action("action", "controller")';
            link = link.replace("action", action);
            link = link.replace("controller", controller);
            location.href = link;
        }
    </script>
</body>
</html>
