@model OG_Sports.Models.Order
@using OG_Sports.Models

@{
    ViewBag.Title = "עגלת מוצרים";
    Layout = "~/Views/Shared/_Layout.cshtml";

    User connectedUser = (User)HttpContext.Current.Session["user"];

    if (connectedUser == null)
    {
        Response.Redirect("~/User/Login");
    }
}

<h3>@ViewBag.Title</h3>
<br />
<div style="flex: 5; display: flex; flex-direction: column;">
    <table class="table" style="align-self: flex-end; margin-bottom: 0px;">
        <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 13%;"></th>
                <th scope="col" style="width: 13%;">שם</th>
                <th scope="col" style="width: 39%;">תיאור</th>
                <th scope="col" style="width: 10%">קטגוריה</th>
                <th scope="col" style="width: 10%">מחיר</th>
                <th scope="col" style="width: 20%;"></th>
            </tr>
        </thead>
    </table>
    <div style="overflow-y:scroll; height: 32vh;">
        <table class="table" align="left">
            <tbody>
                @{
                    int totalPrice = 0;

                    foreach (var currProduct in ViewBag.Products)
                    {
                        <tr>
                            <td style="width: 13%">
                                <img src=@currProduct.PicPath class="img-thumbnail" style="height: 125px;" />
                            </td>
                            <td style="padding-top: 17px; font-size: 22px; width: 13%">@currProduct.ProductName</td>
                            <td style="padding-top: 17px; font-size: 19px; width: 40%">@currProduct.Details</td>
                            <td style="padding-top: 17px; font-size: 19px; width: 10%;">@currProduct.ProductCategory.Name</td>
                            <td style="padding-top: 17px; font-family: Roboto; font-size: 22px; width: 10%;" class="text-success font-weight-bold">@currProduct.Price$</td>
                            @{ totalPrice = totalPrice + currProduct.Price; }
                            <td style="width: 20%;">
                                <button id="DeleteButton" type="button" class="btn btn-link" onclick="delProduct(@currProduct.ProductId)"><i class="fas fa-3x fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    }

                    if (totalPrice == 0)
                    {
                        <br />
                        <center>
                            <span class="col-md-12 text-danger">לא הוספת שום מוצר לעגלת הקניות כרגע..</span>
                        </center>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<hr />
@if (totalPrice > 0)
{
    <center>
        <div>
            <div>
                <span>סך הכל מחיר - </span><span class="text-success font-weight-bold">@totalPrice$</span>
            </div>
            <br/>
            <button onclick="pay()" class="btn btn-primary"><i class="fas fa-credit-card"></i>&nbsp שלם</button>
        </div>
    </center>
}

<script>
    function delProduct(productID) {
        var link = '@Url.Action("Delete", "ProductsPerOrder", new { productID = "replaceID" })';
        link = link.replace("replaceID", productID);
        location.href = link;
    }
    function pay() {
        location.href = '@Url.Action("Pay", "Order")';
    }
</script>

