@model IEnumerable<OG_Sports.Models.Product>
@using OG_Sports.Models

@{
    ViewBag.Title = "דף הבית";

    User connectedUser = (User)HttpContext.Current.Session["user"];

    if (connectedUser == null)
    {
        Response.Redirect("~/User/Login");
    }
}

<div id="HomePageDiv">
    <div class="Home-Container">
        <section class="carousel slide" data-ride="carousel" id="postsCarousel" style="max-width:885px;">
            <div class="container">
                <div class="row">
                    <div class="col-12 carousel-arrows">
                        <a class="btn btn-secondary-outline prev" href=""><i class="fa fa-lg fa-chevron-left"></i></a>
                        <a class="btn btn-secondary-outline next" href=""><i class="fa fa-lg fa-chevron-right"></i></a>
                        <script type="text/javascript">
                            $('.next').click(function () { $('.carousel').carousel('next'); return false; });
                            $('.prev').click(function () { $('.carousel').carousel('prev'); return false; });
                        </script>
                    </div>
                </div>
            </div>
            <div class="container pt-0 mt-2">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card-deck">
                            @for (int i = 0; i < 4; i++)
                            {
                                <div class="Carousel-Card card">
                                    <img class="Carousel-Card-Img card-img-top" src="../..@Model.ElementAt(i).PicPath">
                                    <div class="card-body">
                                        <h5 class="Card-Title card-title">@Model.ElementAt(i).ProductName</h5>
                                        <div class="Card-Footer">
                                            <div class="Card-Price">
                                                @Model.ElementAt(i).Price$
                                            </div>
                                            <button type="button" class="Desc-Header-Button btn btn-dark" onclick="addProduct(@Model.ElementAt(i).ProductId)"><i class="fas fa-2x fa-cart-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card-deck">
                            @for (int i = 4; i < 8; i++)
                            {
                                <div class="Carousel-Card card">
                                    <img class="Carousel-Card-Img card-img-top" src="../..@Model.ElementAt(i).PicPath">
                                    <div class="card-body">
                                        <h5 class="Card-Title card-title">@Model.ElementAt(i).ProductName</h5>
                                        <div class="Card-Footer">
                                            <div class="Card-Price">
                                                @Model.ElementAt(i).Price$
                                            </div>
                                            <button type="button" class="Desc-Header-Button btn btn-dark" onclick="addProduct(@Model.ElementAt(i).ProductId)"><i class="fas fa-2x fa-cart-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div style="margin-right: 55px;">
            <div class="Home-LeftVideo">
                <video width="500" height="250" controls>
                    <source src="~/Content/Video/GoPro.mp4" type="video/mp4">
                </video>
            </div>
            <div class="Home-RightDesc">
                <div class="Desc-Header">
                    <div class="Desc-Header-Text">
                        מצלמת GoPro
                    </div>
                    <div class="Desc-Header-LeftSide">
                        <div class="Desc-Header-Price">
                            777$
                        </div>
                        <button type="button" class="Desc-Header-Button btn btn-dark" onclick="addProduct(27)"><i class="fas fa-2x fa-cart-plus"></i></button>
                    </div>
                </div>
                <div class="Desc-Container">
                    <div class="Desc-Container-Pic">
                        <img class="Desc-Container-Pic-Img" src="../../Content/Images/GoPro.jpg">
                        <div class="Desc-Container-Desc">
                            מצלמת GoPro מסדרת Hero 4 אשר מסוגלת לצלם באיכות של עד 4K בתנאי שטח ובכל סוגי הספורט אקסטרים.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function addProduct(productID) {
        var link = '@Url.Action("AddProduct", "Order", new { productID = "replaceID" })';
        link = link.replace("replaceID", productID);
        location.href = link;
    }
</script>